<input type="hidden" name="plan_title" value="{{annualplantitle}}">
<input type="hidden" name="courseid" value="{{courseid}}">
<input type="hidden" name="coursename" value="{{coursename}}">
<input type="hidden" name="category" value="{{category}}">
<input type="hidden" name="coursedate" value="{{coursedate}}">
<input type="hidden" name="numberofbeneficiaries" value="{{numberofbeneficiaries}}">
<input type="hidden" name="status" value="{{status}}">
